:global {
  html {
    @import "../../node_modules/normalize.css/normalize.css";

    font-family: "Comic Sans MS";
    font-size: 16px;
    background-image: url("../assets/money.jpg");
    padding: 1em;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.wrapper > div {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid rgb(0, 0, 0);
  margin: 0 0.5em;
}
